{% extends "base.html" %}

{% block content %}



<div class="text-center">
    <br><br><br>
    <h1>Django - CRM ... Management at it's finest! </h1>
    <br>
    <h5><b> keep track of your records effectively</b></h5>
    <hr style="border:1px solid #000; margin: 30px 180px  ;">
      
    {% if user.is_authenticated %}   
    <a href="{% url 'dashboard' %}" class="btn btn-primary"> My Dashboard  </a>
    {% else %}
    <a href="{% url 'register' %}" class="btn btn-primary">Register&nbsp;<i class="fa fa-registered" aria-hidden="true"></i> </a>
    {% endif %}

</div>





{% endblock %}