{% extends "base.html"  %}
{% block content %}

<div  class="text-center  " style="padding-left :70px; padding-right: 70px; ">

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Category</th>
      <th scope="col">Phone</th>
      <th scope="col">Address</th>
      <th scope="col">Tall</th>
      <th scope="col">Weight</th>
      <th scope="col">Date</th>
      <th scope="col">View</th>
    </tr>
  </thead>
  <tbody>
    {% if results %}
    {% for record in results %}
    <tr>
      
      <td>{{ record.id }}</td>
      <td>{{ record.first_name }}</td>
      <td>{{ record.last_name }}</td>
      <td>{{ record.Category }}</td>
      <td>{{ record.phone }}</td>
      <td>{{ record.address }}</td>
      <td>{{ record.tall }}</td>
      <td>{{ record.weight }}</td>
      <td>{{ record.created_at }}</td>
       <td><a href="{% url 'view_record' record.id %}" class="btn btn-primary btn-sm">View</a></td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
      <td colspan="10" class="text-center">
        <br><br>
        <div class="alert alert-warning" role="alert">
         Not Found "{{ query }}"
        </div>
        </td>
    </tr>
    {% endif %}    
   
  </tbody>
</table>






</div>







{% endblock %}