{%  extends "base.html"  %}

{% block content %}

<div class="cart-body" style="padding-left :100px; padding-top: 10px ;">
 <strong class ="text-center">
<h2>
    <b><i class="fa fa-user-circle-o" aria-hidden="true"></i>
    {{ record.first_name|capfirst }}  {{ record.last_name }} </b>
</h2>

 </strong>
 <hr style="border:1px solid #000; margin: 30px 180px  ;">

<h3>
<p> <strong>ID: </strong>  {{ record.id }}</p>
<p> <strong>Full Name: </strong>  {{ record.first_name|capfirst }}  {{ record.last_name }}</p>
<p> <strong>Phone: </strong> {{ record.phone }}</p>
<p> <strong>Category: </strong> {{ record.Category }}</p>
<p> <strong>Address: </strong> {{ record.address }}</p>
<p> <strong>Tall: </strong> {{ record.tall }}</p>
<p> <strong>Weight: </strong> {{ record.weight }}</p>
<p> <strong>Creation Date: </strong> {{ record.created_at }}</p>
</h3>
<br>
<a href="{%  url 'update_record' record.id %}" class="btn  btn-dark "> Update &nbsp;<i class="fa fa-wrench" aria-hidden="true"></i>  </a>
<a href="{%  url 'delete_record' record.id %}" onclick="return confirm('Are you sure you want to delete this record?')" class="btn  btn-danger "> Delete&nbsp;<i class="fa fa-trash-o" aria-hidden="true"></i>   </a>
</div>


{% endblock %}
