<div class="message-container text-center">
    {% if messages %}
        {% for message in messages %}
            <div id="message" class="container">
                <div {% if message.tags %}class="alert alert-{{ message.tags }}"{% endif %} role="alert">
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error: {% endif %}
                    <h5><b>{{ message }}</b></h5>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>



<script>

    $(document).ready(function(){
        setTimeout(function(){
            $('.container').fadeOut('slow');
        }, 1000);
    });
</script>